

.export-button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.export-button:hover {
  background-color: #218838;
}

h1{
    text-align: center;
    padding: 20px;
    padding-bottom: 20px;
    color: blueviolet;
}